# Base de données PostgreSQL
POSTGRES_DB=supmeal
POSTGRES_USER=supmeal
POSTGRES_PASSWORD=supmeal_developpement
POSTGRES_PORT=5432

# Authentification
JWT_SECRET=secret_jwt

# OAuth2 Google
GOOGLE_CLIENT_ID=id_client_google
GOOGLE_CLIENT_SECRET=secret_client_google
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# URL du frontend
FRONTEND_URL=http://localhost:8080