# Base de données PostgreSQL
DATABASE_URL=postgresql://supmeal:supmeal_developpement@localhost:5432/supmeal?schema=public

# Authentification
JWT_SECRET=change_me_before_delivery

# OAuth2 Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# URL du frontend
FRONTEND_URL=http://localhost:5173