# Base de données PostgreSQL
DATABASE_URL=postgresql://supmeal:supmeal_developpement@localhost:5432/supmeal?schema=public

# Authentification
JWT_SECRET=secret_jwt

# OAuth2 Google
GOOGLE_CLIENT_ID=id_client_google
GOOGLE_CLIENT_SECRET=secret_client_google
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# URL du frontend
FRONTEND_URL=http://localhost:5173